<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>

    <h1>Register</h1>
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        <input type="text" placeholder="Enter username" name="username">
        <input type="text" placeholder="Enter name" name="name">
        <input type="text" placeholder="Enter phone number" name="phone_number">
        <input type="hidden" name="inv_id" value="{{inv.id}}">
        <input type="password" name="password" placeholder="Enter password">
        <button type="submit">Register</button>
    </form>

</body>

</html>